body {
    background: #80C679;
    margin: 0;
}

#canvas {
    position: absolute;
    z-index: 10;
    width: calc(100% - 10px);
    height: calc(100% - 200px);
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

#globe {
    position: absolute;
    width: 100%;
}

#globe-container {
    position: relative;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    top: 45%;
    transform: translateY(-50%);
}

#code {
	display: none;
	color: white;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 36px;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
}

#button {
	position: absolute;
	background: #E81A4B;
	padding: 15px 15px;
	border-radius: 3px;
	color: white;
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	left: 50%;
	margin-top: 100px;
	transform: translateX(-50%);
}

#button:hover {
	cursor: pointer;
}